$primary:#795548;
$accent:#448AFF;
$warn:#D32F2F;
$background:#FFF8E1;
/****** GENERAL USE VARIABLES ******/

/*** WHITEFRAMES ***/
$shadow-key-umbra-opacity:      0.2 !default;
$shadow-key-penumbra-opacity:   0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

$whiteframe-shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 1px -1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-2dp: 0px 1px 5px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 2px 2px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 1px -2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-3dp: 0px 1px 8px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 3px 4px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 3px -2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-4dp: 0px 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 4px 5px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 10px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-5dp: 0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 5px 8px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 14px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-6dp: 0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 6px 10px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 18px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-7dp: 0px 4px 5px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 7px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 16px 1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-8dp: 0px 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-9dp: 0px 5px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 9px 12px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 16px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-10dp: 0px 6px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 10px 14px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 4px 18px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-11dp: 0px 6px 7px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 11px 15px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 4px 20px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-12dp: 0px 7px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 12px 17px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 22px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-13dp: 0px 7px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 13px 19px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 24px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-14dp: 0px 7px 9px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 14px 21px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 26px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-15dp: 0px 8px 9px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 15px 22px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 28px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-16dp: 0px 8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-17dp: 0px 8px 11px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 17px 26px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 32px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-18dp: 0px 9px 11px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 18px 28px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 7px 34px 6px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-19dp: 0px 9px 12px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 19px 29px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 7px 36px 6px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-20dp: 0px 10px 13px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 20px 31px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 8px 38px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-21dp: 0px 10px 13px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 21px 33px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 8px 40px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-22dp: 0px 10px 14px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 22px 35px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 8px 42px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-23dp: 0px 11px 14px -7px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 23px 36px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 9px 44px 8px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-24dp: 0px 11px 15px -7px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 24px 38px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 9px 46px 8px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;

/****** ANGULAR MATERIAL COMPONENTS ******/

/*** GENERAL ***/
md-input-container .md-errors-spacer {
    min-height: 0;
}

/*** COLORS ***/
.warn {
	background:$warn !important;
}

.accent {
	color:darken($accent, 10);
}

/*** ICONS ***/
.sm {
	font-size:12px;
   	width:12px;
   	height:12px;
}

.md {
	font-size:36px;
   	width:36px;
   	height:36px;
}

/*** BUTTONS ***/
.icon-btn {
	width:24px;
	height:24px;
	line-height:24px;
	min-width:0;
	min-height:0;
	padding:0;

	&:hover {
		background-color:transparent !important;

		md-icon {
			color:$primary;
		}
	}
}

/*** TOOLBAR ***/
md-toolbar {
	padding:0 15px;
}

/*** DIALOG ***/
md-dialog {
	max-height:90% !important;

	.md-toolbar-tools {
		padding:0;

		h2 {
			color:#fff;
		}	
	}

	md-dialog-content {
		padding:0 15px;

		h3 {
			padding: 0 5px;
			margin-bottom:5px;

			em {
				font-weight:200;
				font-size:75%;
			}
		}
	}

	md-dialog-actions {
		padding:0 15px;
	}

	.layout-row [flex].auto-complete-container {
		margin:8px 5px;
		padding:0 2px;
	}

	md-autocomplete input:not(.md-input) {
		font-size:16px;
	}

	input[type="text"],
	input[type="search"],
	.md-datepicker-input,
	md-select {
		box-sizing:border-box;
		background:#fff;
		height: 42px;
    	padding: 0 10px;
    	box-shadow:$whiteframe-shadow-2dp;
    	transition: all .3s;
    	border:none;
    	font-size: 16px;

	    md-select-value {
			border:none !important;
		}

    	&:focus {


    		
    		box-shadow:$whiteframe-shadow-4dp;
    	}
	}

	.md-datepicker-input {
		padding-left: 50px;
	    margin-left: -40px;
	    padding-right: 0;
	    box-sizing: content-box;
	    position: relative;
	}

	._md-datepicker-floating-label>md-datepicker .md-datepicker-button {
		// box-shadow:$whiteframe-shadow-2dp;
		margin-right: 0;
	    // background: #fff;
	    border-radius: 0;
	    margin-top: -10px;
    	height: 42px;
    	z-index:1;
	}

	.md-icon-button+.md-datepicker-input-container {
		margin-left:0;
	}

	.md-datepicker-triangle-button {
		bottom:2px;
	}

	md-input-container,
	md-select {
		margin:5px;
	}


	&.media-dialog {
		min-width:500px;
		position:relative;
		background-color:lighten($accent, 10);

		md-toolbar {
			position:relative;
			margin-bottom: -64px;
			z-index:1;
			background:transparent;

			// h2, md-icon {
			// 	font-size:30px;
			// 	color:darken($accent,40);
			// }

			h2, md-icon {
				color:lighten($accent,80);
				text-shadow:1px 1px 6px rgba(0,0,0, 0.3);

			}	
		}

		&.md-transition-in {
			transform: none;
		}

		md-dialog-content {
			padding:0;

			h2, md-icon, p {
				color:#444;
			}

			a:not(.md-button).md-accent {
				color:darken($accent,20);
				text-decoration:none;
				transition: all .3s;

				&:hover {
					color:darken($accent,40);
					text-shadow:1px 1px 1px rgba(0,0,0, 0.25);
				}
			} 
		}

		.media-preview {
			background:$accent;
			width:100%;
			min-height:64px;
			position:relative;
			overflow: hidden;

			video {
				width:100%;
			}

			audio {
				width: 100%;
    			margin-top: 64px;
			}

			img {
				width:100%;
			}

			iframe {
				border:none;
				width: 100%;
    			height: 350px;
    			margin-top:64px;

    			background:#fff;
			}
		}

		.media-meta {
			list-style:none;
			padding:0;
			margin:20px 0 10px;

			li {
				label {
					font-size: 12px;
    				font-style: italic;
				}

				h4 {
					margin-top:0;
				}

				.mini-chips > li {
					background: $accent;
				}
			}

			ul.mini-chips {
				max-height:90px;
			}
		}
	}
}

.md-datepicker-input-mask {
	display:none;
}

.md-datepicker-calendar-pane {
	margin-top:20px;
}

// .md-calendar.md-default-theme tr:last-child td, .md-calendar tr:last-child td,
// .md-calendar.md-default-theme, .md-calendar,
// .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar {
// 	background:#fff;
// }

// .md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
// .md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus  .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator:hover {
// 	background:$accent;
// }

// .md-default-theme .md-calendar-day-header, .md-calendar-day-header {
// 	background:#eee;
// }

md-autocomplete .md-show-clear-button button {
	position: absolute;
    right: 0;
    top: 7px;
}

md-autocomplete md-autocomplete-wrap md-progress-linear {
	bottom:-4px;
}

.md-dialog-form.md-autocomplete-suggestions {
	background:#fff;

	li:hover {
		background:#bbb;
	}
}

md-select-menu md-content._md {
	background:#fff;

	md-option:hover,
	md-option:focus  {
		background:#bbb;
	}
}

/*** LISTS ***/
ul {
	&.empty {
		margin:0;
		padding:0;
		list-style:none;
	}
}



/*** CHIPS ***/
md-chip-template {
	strong {
		color: #fff;
		padding-right:5px;
	}
}

md-chips .md-chips {
	box-shadow: none !important;
}

.md-chips .md-chip-input-container input:not([type]):focus {
	border-bottom:1px solid $primary;
}

[md-on-select] md-chip {
	cursor:pointer;
	transition: all .3s;
	box-shadow:$whiteframe-shadow-1dp;

	&:hover {
		box-shadow:$whiteframe-shadow-2dp;
		background-color:$primary;
	}

	.md-chip-remove:hover md-icon{
		fill:#fff;
	}
}

ul.mini-chips {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    max-height: 30px;
    max-width: 100%;
    overflow: hidden;


	li {
	    font-size: 12px;
	    font-weight: 500;
	    color: #fff;
	    display: inline-block;
	    padding: 4px 8px;
	    margin: 3px;
	    border-radius: 15px;

	    &:first-child {
	    	margin-left:0;
	    }
	}
}



/****** APP COMPONENTS ******/

* {
	color:#444;
}

[ui-sref] {
	cursor:pointer;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.empty-message {
	transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color:lighten($primary, 45);
}

.header {
	height:60px; 
	
	h2 {
		color:#fff;
		margin-top: 12px;
	}

	.md-button {
		color:#fff;
		font-size: 18px;
    	font-weight: 400;
    	transition: transform .2s;
    	text-transform: none;

    	&:hover {
    		background-color:transparent;
    		transform: scale(1.2,1.2);
    	}
	}
}

md-toolbar.search {
	background-color: #fff;
    height:64px;
    z-index:70;

   	input {
   		font-size:24px;
   		padding:0 15px;
   		height:100%;
   		border:none;
   		outline:none !important;
   	}

   	.md-button {
   		height:100%;
   	}

   	md-icon {
   		color:#444;
   	}
}

md-menu-content { max-height: 90vh; }

.filter-menu {
	background:#fff;

	md-menu-item.checkbox {
		padding-left:20px;

		div.md-label {
			font-size:15px;
			margin-left:25px;
		}
	}

	.md-button:hover {
		background:#ccc;
	}

	.drop-down.md-button {
		height:48px;

		md-icon {
			margin: auto 16px auto 0;
		}
	}

	md-menu-content .md-menu.md-open>.md-button {
		background:#ccc;
	}

	.drop-down.md-button:hover {
		background:#ccc;
	}


}

.inner-menu {
	padding-left:0;
	padding-right:0;
}

md-menu-item>.md-menu>.md-button {
    text-align: left;
    display: inline-block;
    border-radius: 0;
    margin: auto 0;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.wrapper {
	position:relative;

	h1 {
		color:#666;
		font-size:36px;

		span {
			color:#666;
		}
	}

	.loader {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(lighten($primary, 30), 0.7);
		z-index:100;

		md-progress-circular {
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
		}
	}
}

md-sidenav {
	padding:0 10px;
	width:260px;
	background:transparent;
}

.edit-dagr-menu {
	float: right;
    margin-top: 24px;
}

md-menu-content {
	md-menu-item md-icon, .md-button {
    	color:#444;
    }
}

ul.dagr-info  {
	li {
		padding-right:15px;
	}

	h3 {
		margin:5px 0 30px;
	}

	em {
		font-weight:400;
		font-style:italic;
	}
}


.add-dagr, .add-media {
	width:100%;
	background-color: transparent;
    box-shadow: none;
    border: 5px dashed lighten($primary, 35);
    border-radius:5px;
    margin:0 0 25px;
    transition:all .3s;

    h3 {
    	font-size:26px;
    	color:lighten($primary, 35);
    	text-align: center;
    	transition:all .3s;
    }

    md-icon {
    	color:$primary;
    }

    &:hover {
    	background-color:transparent !important;
    	border-color:$primary;

    	h3 {
    		color:$primary;
    	}
    }
}




.dagr-category, .media-category {
	margin:5px 0 40px;

	> h3 {
		font-size:22px;
		margin:0 0 10px;
	}

	md-grid-tile {
		box-shadow:$whiteframe-shadow-3dp;
		border-radius:5px;
		transition:box-shadow .4s;
		cursor:pointer;

		&:hover {
			box-shadow:$whiteframe-shadow-10dp;
		}

		figure {
			display: block;
		}


		h3.tile-title {
			margin:0;
			font-size:16px;
			// min-height: 38px;

			span {
			    font-size: 12px;
			    float: right;
			    font-weight: 400;
			    margin-top: 5px;
			    font-style: italic;
			}
		}

		em.tile-date {
			text-align: right;
		    font-size: 12px;
		    font-weight: 400;
		    margin-top: 5px;
		    font-style: italic;
		}

		p {
			margin:0;
			font-size:14px;

			&:first-child md-icon {
				line-height:30px;
				height:36px;
				width:36px;
			}

			strong {
				font-size: 14px;
    			padding-left: 1px;
			}
		}
	}
}

.dagr-category {
	> h3 {
		color:lighten($primary, 20);
	}

	md-grid-tile {
		color:lighten($primary, 20);
		background:lighten($primary, 45);

		.mini-chips > li {
			background: lighten($primary, 30);
		}


		&.active {
			background:$primary;
			h3 {
				color:#fff;
			}

			p, md-icon, strong, span, em {
				color:#ddd;
			}

			.mini-chips > li {
				color:#eee;
				background:darken($primary, 10);
			}
		}

		figure {
			padding: 10px 15px;

		    > div:not(:first-child) {
				margin-top: 5px;
			}
		}

		p {
			md-icon, strong {
				color:lighten($primary, 20);
			}			
		}


	}
	    		
}

.media-category  {
	

	> h3 {
		color:$accent;
	}

	md-grid-tile {
		color:$accent;
		background-color:lighten($accent, 15);
		background-color:lighten($accent, 10);
		// transition:opacity 1s;

		// &.ng-enter {
		// 	transition:opacity 1s;
		// 	opacity: 0;
		// }

		// &.ng-enter-active {
		// 	transition:opacity 1s;
		// 	opacity:1;
		// }

		.mini-chips > li {
			background: $accent;
		}

		&.add-media {
			background-color: transparent;
		    box-shadow: none;
		    border: 5px dashed lighten($accent, 15);
		    transition:all .3s;

		    h3 {
		    	font-size:26px;
		    	color:lighten($accent, 15);
		    	text-align: center;
		    	transition:all .3s;
    			position: absolute;
    			margin:0;
		    	top: 50%;
    			left: 50%;
    			transform: translate(-50%,-50%);
		    }

		    &:hover {
		    	box-shadow:none;
		    	border-color:$accent;

		    	h3 {
		    		color:$accent;
		    	}
		    }
		}

		.tile-content {
			height:100%;
			
		}

		.tile-thumb {
			position:relative;
			border-radius:5px 0 0 5px;
			background-color:adjust-color($accent, $lightness:20%, $saturation:-20%);
			// background-color:$accent;
			overflow:hidden;

			md-icon {
				position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate(-50%,-50%);
			    color:#fff;
			}

			img {
				object-fit: cover;
				width: 100%;
    			height: 100%;
    			position:relative;
				z-index:1;
				border-radius: 5px 0 0 5px;
			}

			.play-button {
				z-index:2;
				width: 100%;
			    padding: 52% 0;
			    color:#fff;
			    text-align: center;
			    box-shadow:$whiteframe-shadow-2dp;
			    transform: translate(-50%,-50%) scale(1.5);
			}

			video {
			    width: 230%;
			    position: absolute;
			    z-index: 1;
			    border-radius: 5px 0 0 5px;
			    bottom: 0;
			    left: -50%;
				border-radius: 5px 0 0 5px;				
			}

			iframe {
				border: none;
			    transform: scale(0.1);
			    transform-origin: top left;
  				width: 1000%;
  				height: 3000px;
  				position:relative;
				z-index:1;
				// background:#fff;

				&.full-width {
					width:100%;
					height:100%;
					transform:none;
				}

				&.half-width {
					width: 400%;
					height: 2000px;
					transform: scale(0.25);
				}
			}
		}

		.tile-info {
			padding:10px;
			position:relative;

			div[layout=column] {
				position: absolute;
			    left: 10px;
			    right: 10px;
			    bottom: 10px;
			    top:30px;
			}
			
			 p {
			 	  margin:3px 0;
			 	  white-space: nowrap;
				  overflow: hidden;
				  text-overflow: ellipsis;
			 }


		}
	}
	
}

md-content {
	padding:0 15px;
}

@media (min-width:1920px) {
	.media-category md-grid-tile.add-media {
		padding-top: calc(((8% - 0.8em) * 1) - 10px) !important;
	}
}


@media (max-width:1919px) {
	.media-category md-grid-tile.add-media {
		padding-top: calc(((13.3333% - 0.666667em) * 1) - 10px) !important;
	}
}

@media (max-width:1279px) {
	.media-category md-grid-tile.add-media {
		padding-top: calc(((20% - 0.5em) * 1) - 10px) !important;
	}
}

@media (max-width:959px) {
	.media-category md-grid-tile.add-media {
		padding-top: calc(((40% - 0.5em) * 1) - 10px) !important;
	}
}