<!DOCTYPE html>
<html>
	<head>
		<title>MMDA</title>
 		
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 		<link rel="stylesheet" href="/scripts/lib/angular-material/angular-material.min.css">
 		<link rel="stylesheet" href="/stylesheets/style.css">

		<!-- Third Party Scripts -->
		<script src="/scripts/lib/spark-md5.min.js"></script>

		<!-- Angular Scripts -->
		<script src="/scripts/lib/angular/angular.min.js"></script>
		<script src="/scripts/lib/angular-animate/angular-animate.min.js"></script>
  		<script src="/scripts/lib/angular-aria/angular-aria.min.js"></script>
  		<script src="/scripts/lib/angular-messages/angular-messages.min.js"></script>
  		<script src="/scripts/lib/angular-material/angular-material.min.js"></script>
		<!-- <script src="/scripts/lib/angular-md5/angular-md5.js"></script> -->
		<!-- <script src="/scripts/lib/angular-file-upload.min.js"></script> -->

		<!-- Custom Scripts -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/filters.js"></script>
		<script src="/scripts/services.js"></script>
		<script src="/scripts/controllers.js"></script>
	</head>
	<body ng-app="mmda" ng-controller="mainCtrl">
		<md-toolbar class="header" ng-controller="headerCtrl" layout="row">
			<h2>Multi-Media Data Aggregator</h2>
			<span flex></span>
			<md-button ng-click="newDagr()" aria-label="New DAGR">NEW DAGR</md-button>
		</md-toolbar>

		<md-toolbar class="search md-whiteframe-5dp" ng-controller="searchCtrl" layout="row">
			<md-icon class="md" flex="none" style="color:#888;">search</md-icon>
			<input ng-model="searchInput" type="text" placeholder="Search DAGRs, Media" flex="auto"/>
			<md-button ng-if="searchInput" ng-click="clearSearch()"class="md-icon-button" aria-label="Clear Search" flex="none">
	          <md-icon>close</md-icon>
	        </md-button>
			<md-button class="md-icon-button" aria-label="Search Options" flex="none">
	          <md-icon class="md">more_vert</md-icon>
	        </md-button>
		</md-toolbar>

 		<md-content class="results">
 			<div ng-repeat="cat in categories" class="results-category">
	 		 	<h3>{{cat === '!' ? 'uncategorized' : cat | capitalize}}</h3>
	 			<md-divider></md-divider><br>
				<md-grid-list md-cols="5" md-gutter="1em" md-row-height="5:2">
				  	<md-grid-tile ng-repeat="d in dagrs | filter : {category:cat}" class="md-whiteframe-2dp">
				  		<h3>{{d.title}}<span>{{d.created}}</span></h3>
				  		<div layout="row">
				  			<p flex><md-icon>perm_media</md-icon> <strong>{{d.files}}</strong></p>
				  			<p flex><md-icon class="md">keyboard_arrow_up</md-icon> <strong>{{d.parents}}</strong></p>
				  			<p flex><md-icon class="md">keyboard_arrow_down</md-icon> <strong>{{d.children}}</strong></p>
				  		</div>
					
					</md-grid-tile>
				</md-grid-list>
			</div>
		</md-content>
	</body>
</html>