<!DOCTYPE html>
<html>
	<head>
		<title>MMDA</title>

 		<base href="/"></base>

 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 		<link rel="stylesheet" href="/scripts/lib/angular-material/angular-material.min.css">
 		<link rel="stylesheet" href="/stylesheets/style.css">

		<!-- Third Party Scripts -->
		<script src="/scripts/lib/spark-md5.min.js"></script>

		<!-- Angular Scripts -->
		<script src="/scripts/lib/angular/angular.min.js"></script>
		<script src="/scripts/lib/angular-animate/angular-animate.min.js"></script>
  		<script src="/scripts/lib/angular-aria/angular-aria.min.js"></script>
  		<script src="/scripts/lib/angular-messages/angular-messages.min.js"></script>
  		<script src="/scripts/lib/angular-material/angular-material.min.js"></script>
  		<script src="/scripts/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
		<!-- <script src="/scripts/lib/angular-md5/angular-md5.js"></script> -->
		<!-- <script src="/scripts/lib/angular-file-upload.min.js"></script> -->

		<!-- Custom Scripts -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/filters.js"></script>
		<script src="/scripts/routes.js"></script>
		<script src="/scripts/services.js"></script>
		<script src="/scripts/controllers.js"></script>
		<!-- <script src="/scripts/directives.js"></script> -->
	</head>
	<body ng-app="mmda" ng-controller="mainCtrl" layout="column">
		<md-toolbar class="header" ng-controller="headerCtrl" layout="row">
			<h2 ui-sref="home">Multi-Media Data Aggregator</h2>
			<span flex></span>
			<md-button ng-click="newDagr()" aria-label="New DAGR">NEW DAGR <md-icon style="line-height: 20px;">device_hub</md-icon></md-button>
		</md-toolbar>

		<md-toolbar class="search md-whiteframe-5dp" ng-controller="searchCtrl" layout="row">
			<md-icon class="md" flex="none" style="color:#888;">search</md-icon>
			<input ng-model="searchInput" type="text" placeholder="Search DAGRs, Media" flex="auto"/>
			<md-button ng-if="searchInput" ng-click="clearSearch()"class="md-icon-button" aria-label="Clear Search" flex="none">
	          <md-icon>close</md-icon>
	        </md-button>
			<md-button class="md-icon-button" aria-label="Search Options" flex="none">
	          <md-icon class="md">more_vert</md-icon>
	        </md-button>
		</md-toolbar>
		
		<div class="wrapper" layout="row" flex ng-controller="resultsCtrl">
			<md-sidenav class="md-whiteframe-1dp" md-is-locked-open="true" flex="20">
				<ng-include src="'/templates/dagrs.html'"></ng-include>
			</md-sidenav>

			<md-content class="results" flex>
				<ng-include ng-if="state === 'dagr'" src="'/templates/dagr-header.html'"></ng-include>
				<ng-include src="'/templates/media.html'"></ng-include>
			</md-content>
		</div>

	</body>
</html>