
<md-menu md-position-mode="target-right target" class="edit-dagr-menu">
  <md-button aria-label="DAGR Options" class="md-icon-button" ng-click="$mdMenu.open()">
    <md-icon md-menu-origin class="md">more_vert</md-icon>
  </md-button>
  <md-menu-content width="2">
    <md-menu-item>
      <md-button ng-click="editDagr('edit')">
        <md-icon md-menu-align-target>person</md-icon>
        Edit DAGR
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="deleteDagr()">
        <md-icon>close</md-icon>
        Delete DAGR
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<h1>{{dagr.NAME}}</h1>
<ul class="empty dagr-info" layout-wrap layout="row">
	<li flex="33">
		<em>Category</em>
		<h3>{{dagr.CATEGORY || 'none'}}</h3> 
	</li>
	<li flex="33">
		<em>Created</em>
		<h3>{{dagr.CREATE_DATE | date}}</h3>
	</li>
	<li flex="33">
		<em>Modified</em>
		<h3>{{dagr.MODIFY_DATE || 'never' | date}}</h3>
	</li>
	<li flex="33">
		<em>Parents</em>
	    <md-chips 
	    	ng-model="parents" 
	    	md-autocomplete-snap
	    	md-no-cache
	    	md-require-match="true" 
	    	md-on-add="saveParent($chip)" 
	    	md-on-remove="removeParent($chip)">
	      	<md-autocomplete
	      		md-autoselect
	      		md-select-on-match
	      		md-search-text="searchParent"
	          	md-items="dagr in getParents(searchParent, activeID)"
	            placeholder="Add Parent">
	        	<span>{{dagr.NAME}} ({{dagr.MEDIA}})</span>
	      	</md-autocomplete>
	      	<md-chip-template ng-click="$state.go('dagr',{'id' : $chip.GUID})">
	        	<span>
	          		<strong>{{$chip.NAME}}</strong>
	        	</span>
	      	</md-chip-template>
	    </md-chips>
	</li>
	<li flex="33">
		<em>Children</em>
	    <md-chips 
	    	ng-model="children" 
	    	md-autocomplete-snap
	    	md-no-cache
	    	md-require-match="true"
	    	md-on-add="saveChild($chip)" 
	    	md-on-remove="removeChild($chip)">
	      	<md-autocomplete
	      		md-autoselect
	      		md-select-on-match
	      		md-search-text="searchChild"
	          	md-items="dagr in getChildren(searchChild, activeID)"
	            placeholder="Add Child">
	        	<span>{{dagr.NAME}} ({{dagr.MEDIA}})</span>
	      	</md-autocomplete>
	      	<md-chip-template ng-click="$state.go('dagr',{'id' : $chip.GUID})">
	        	<span>
	          		<strong>{{$chip.NAME}}</strong>
	        	</span>
	      	</md-chip-template>
	    </md-chips>
	</li>
	<li flex="33">
		<em>Tags</em>
	    <md-chips 
	    	ng-model="keywords" 
	    	md-autocomplete-snap
	    	md-no-cache 
	    	md-require-match="false"
	    	md-transform-chip="transformKeyword($chip)" 
	    	md-on-add="saveKeyword($chip)" 
	    	md-on-remove="removeKeyword($chip)">
	    	<!-- TO DO When cliking on a keyword, go to search state and searck by keyword -->
	      	<md-autocomplete
	      		md-select-on-match
	      		md-search-text="searchKeyword"
	          	md-items="keyword in getKeywords(searchKeyword, activeID)"
	            placeholder="Add Tag">
	        	<span>{{keyword.KEYWORD}} ({{keyword.DAGRS}})</span>
	      	</md-autocomplete>
	      	<md-chip-template>
	        	<span>
	          		<strong>{{$chip.KEYWORD}}</strong>
	        	</span>
	      	</md-chip-template>
	    </md-chips>
	</li>
</ul>