<h1><md-icon class="md" style="line-height: 30px;">perm_media</md-icon>  Media</h1>
<!-- <h2 ng-if="state === 'dagr'">Media</h2> -->
<div ng-repeat="type in types" class="media-category">
 	<h3>{{type | capitalize}}</h3>
	<md-divider></md-divider><br>
	<md-grid-list md-cols="3" md-gutter="1em" md-row-height="5:2">
	<md-grid-tile ng-if="$first && state === 'dagr'" class="add-media" ng-click="editDagr('add')">
		<h3>ADD MEDIA</h3>
	</md-grid-tile>
  	<md-grid-tile ng-repeat="m in media | filter : {'TYPE':type}" class="md-whiteframe-2dp">
  		<div class="tile-content" layout="row">
	  		<div class="tile-thumb" flex="30">
	  			<img ng-if="m.TYPE === 'image'" ng-src="/local-files/{{m.URI | normalizePath}}"/>
	  			<audio ng-if="m.TYPE === 'audio'" controls>
				  <source ng-src="/local-files/{{m.URI | normalizePath}}">
				</audio>
	  			<!-- <iframe ng-if="m.TYPE === 'link'" ng-src="{{proxy + m.URI}}"></iframe> -->
	  			<md-icon class="md">{{catIcons[m.TYPE]}}</md-icon>
	  		</div>
	  		<div class="tile-info" flex>
		  		<h3 class="tile-title truncate">{{m.NAME}}<span>{{m.CREATE_DATE || m.INSERT_DATE | date}}</span></h3>
		  		<p title="{{m.uri}}"><strong>{{m.URI}}</strong></p>
  			</div>
		</div>
	</md-grid-tile>
	</md-grid-list>
</div>