/****** GENERAL USE VARIABLES ******/
/*** WHITEFRAMES ***/
/****** ANGULAR MATERIAL COMPONENTS ******/
/*** GENERAL ***/
md-input-container .md-errors-spacer {
  min-height: 0; }

/*** COLORS ***/
.warn {
  background: #D32F2F !important; }

.accent {
  color: #116aff; }

/*** ICONS ***/
.sm {
  font-size: 12px;
  width: 12px;
  height: 12px; }

.md {
  font-size: 36px;
  width: 36px;
  height: 36px; }

/*** BUTTONS ***/
.icon-btn {
  width: 24px;
  height: 24px;
  line-height: 24px;
  min-width: 0;
  min-height: 0;
  padding: 0; }
  .icon-btn:hover {
    background-color: transparent !important; }
    .icon-btn:hover md-icon {
      color: #795548; }

/*** TOOLBAR ***/
md-toolbar {
  padding: 0 15px; }

/*** DIALOG ***/
md-dialog {
  max-height: 90% !important; }
  md-dialog .md-toolbar-tools {
    padding: 0; }
    md-dialog .md-toolbar-tools h2 {
      color: #fff; }
  md-dialog md-dialog-content {
    padding: 0 15px; }
    md-dialog md-dialog-content h3 {
      padding: 0 5px;
      margin-bottom: 5px; }
      md-dialog md-dialog-content h3 em {
        font-weight: 200;
        font-size: 75%; }
  md-dialog md-dialog-actions {
    padding: 0 15px; }
  md-dialog .layout-row [flex].auto-complete-container {
    margin: 8px 5px;
    padding: 0 2px; }
  md-dialog md-autocomplete input:not(.md-input) {
    font-size: 16px; }
  md-dialog input[type="text"],
  md-dialog input[type="search"],
  md-dialog md-select {
    box-sizing: border-box;
    background: #fff;
    height: 42px;
    padding: 0 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    transition: all .3s;
    border: none; }
    md-dialog input[type="text"] md-select-value,
    md-dialog input[type="search"] md-select-value,
    md-dialog md-select md-select-value {
      border: none !important; }
    md-dialog input[type="text"]:focus,
    md-dialog input[type="search"]:focus,
    md-dialog md-select:focus {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  md-dialog md-input-container,
  md-dialog md-select {
    margin: 5px; }
  md-dialog.media-dialog {
    min-width: 500px;
    position: relative;
    background-color: #77aaff; }
    md-dialog.media-dialog md-toolbar {
      position: relative;
      margin-bottom: -64px;
      z-index: 1;
      background: transparent; }
      md-dialog.media-dialog md-toolbar h2, md-dialog.media-dialog md-toolbar md-icon {
        color: white;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3); }
    md-dialog.media-dialog.md-transition-in {
      transform: none; }
    md-dialog.media-dialog md-dialog-content {
      padding: 0; }
      md-dialog.media-dialog md-dialog-content h2, md-dialog.media-dialog md-dialog-content md-icon, md-dialog.media-dialog md-dialog-content p {
        color: #444; }
      md-dialog.media-dialog md-dialog-content a:not(.md-button).md-accent {
        color: #0053dd;
        text-decoration: none;
        transition: all .3s; }
        md-dialog.media-dialog md-dialog-content a:not(.md-button).md-accent:hover {
          color: #002d77;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
    md-dialog.media-dialog .media-preview {
      background: #448AFF;
      width: 100%;
      min-height: 64px;
      position: relative;
      overflow: hidden; }
      md-dialog.media-dialog .media-preview video {
        width: 100%; }
      md-dialog.media-dialog .media-preview audio {
        width: 100%;
        margin-top: 64px; }
      md-dialog.media-dialog .media-preview img {
        width: 100%; }
      md-dialog.media-dialog .media-preview iframe {
        border: none;
        width: 100%;
        height: 350px;
        margin-top: 64px;
        background: #fff; }
    md-dialog.media-dialog .media-meta {
      list-style: none;
      padding: 0;
      margin: 20px 0 10px; }
      md-dialog.media-dialog .media-meta li label {
        font-size: 12px;
        font-style: italic; }
      md-dialog.media-dialog .media-meta li h4 {
        margin-top: 0; }
      md-dialog.media-dialog .media-meta li .mini-chips > li {
        background: #448AFF; }

md-autocomplete .md-show-clear-button button {
  position: absolute;
  right: 0;
  top: 7px; }

md-autocomplete md-autocomplete-wrap md-progress-linear {
  bottom: -4px; }

.md-dialog-form.md-autocomplete-suggestions {
  background: #fff; }
  .md-dialog-form.md-autocomplete-suggestions li:hover {
    background: #bbb; }

md-select-menu md-content._md {
  background: #fff; }
  md-select-menu md-content._md md-option:hover,
  md-select-menu md-content._md md-option:focus {
    background: #bbb; }

/*** LISTS ***/
ul.empty {
  margin: 0;
  padding: 0;
  list-style: none; }

/*** CHIPS ***/
md-chip-template strong {
  color: #fff;
  padding-right: 5px; }

md-chips .md-chips {
  box-shadow: none !important; }

.md-chips .md-chip-input-container input:not([type]):focus {
  border-bottom: 1px solid #795548; }

[md-on-select] md-chip {
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
  [md-on-select] md-chip:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #795548; }
  [md-on-select] md-chip .md-chip-remove:hover md-icon {
    fill: #fff; }

ul.mini-chips {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  height: 30px;
  max-width: 100%;
  overflow: hidden; }
  ul.mini-chips li {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    padding: 4px 8px;
    margin: 3px;
    border-radius: 15px; }
    ul.mini-chips li:first-child {
      margin-left: 0; }

/****** APP COMPONENTS ******/
* {
  color: #444; }

[ui-sref] {
  cursor: pointer; }

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.empty-message {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  color: #decec8; }

.header {
  height: 60px; }
  .header h2 {
    color: #fff;
    margin-top: 12px; }
  .header .md-button {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: transform .2s;
    text-transform: none; }
    .header .md-button:hover {
      background-color: transparent;
      transform: scale(1.2, 1.2); }

md-toolbar.search {
  background-color: #fff;
  height: 64px;
  z-index: 70; }
  md-toolbar.search input {
    font-size: 24px;
    padding: 0 15px;
    height: 100%;
    border: none;
    outline: none !important; }
  md-toolbar.search .md-button {
    height: 100%; }
  md-toolbar.search md-icon {
    color: #444; }

.wrapper h1 {
  color: #666;
  font-size: 36px; }
  .wrapper h1 span {
    color: #666; }

md-sidenav {
  padding: 0 10px;
  width: 260px;
  background: transparent; }

.edit-dagr-menu {
  float: right;
  margin-top: 24px; }

md-menu-content md-menu-item md-icon, md-menu-content .md-button {
  color: #444; }

ul.dagr-info li {
  padding-right: 15px; }

ul.dagr-info h3 {
  margin: 5px 0 30px; }

ul.dagr-info em {
  font-weight: 400;
  font-style: italic; }

.add-dagr, .add-media {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: 5px dashed #cbb1a8;
  border-radius: 5px;
  margin: 0 0 25px;
  transition: all .3s; }
  .add-dagr h3, .add-media h3 {
    font-size: 26px;
    color: #cbb1a8;
    text-align: center;
    transition: all .3s; }
  .add-dagr md-icon, .add-media md-icon {
    color: #795548; }
  .add-dagr:hover, .add-media:hover {
    background-color: transparent !important;
    border-color: #795548; }
    .add-dagr:hover h3, .add-media:hover h3 {
      color: #795548; }

.dagr-category, .media-category {
  margin: 5px 0 40px; }
  .dagr-category > h3, .media-category > h3 {
    font-size: 22px;
    margin: 0 0 10px; }
  .dagr-category md-grid-tile, .media-category md-grid-tile {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: box-shadow .4s;
    cursor: pointer; }
    .dagr-category md-grid-tile:hover, .media-category md-grid-tile:hover {
      box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }
    .dagr-category md-grid-tile figure, .media-category md-grid-tile figure {
      display: block; }
    .dagr-category md-grid-tile h3.tile-title, .media-category md-grid-tile h3.tile-title {
      margin: 0;
      font-size: 16px; }
      .dagr-category md-grid-tile h3.tile-title span, .media-category md-grid-tile h3.tile-title span {
        font-size: 12px;
        float: right;
        font-weight: 400;
        margin-top: 5px;
        font-style: italic; }
    .dagr-category md-grid-tile em.tile-date, .media-category md-grid-tile em.tile-date {
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      margin-top: 5px;
      font-style: italic; }
    .dagr-category md-grid-tile p, .media-category md-grid-tile p {
      margin: 0;
      font-size: 14px; }
      .dagr-category md-grid-tile p:first-child md-icon, .media-category md-grid-tile p:first-child md-icon {
        line-height: 30px;
        height: 36px;
        width: 36px; }
      .dagr-category md-grid-tile p strong, .media-category md-grid-tile p strong {
        font-size: 14px;
        padding-left: 1px; }

.dagr-category > h3 {
  color: #af8778; }

.dagr-category md-grid-tile {
  color: #af8778;
  background: #decec8; }
  .dagr-category md-grid-tile .mini-chips > li {
    background: #c2a398; }
  .dagr-category md-grid-tile.active {
    background: #795548; }
    .dagr-category md-grid-tile.active h3 {
      color: #fff; }
    .dagr-category md-grid-tile.active p, .dagr-category md-grid-tile.active md-icon, .dagr-category md-grid-tile.active strong, .dagr-category md-grid-tile.active span, .dagr-category md-grid-tile.active em {
      color: #ddd; }
    .dagr-category md-grid-tile.active .mini-chips > li {
      color: #eee;
      background: #593f35; }
  .dagr-category md-grid-tile figure {
    padding: 10px 15px; }
    .dagr-category md-grid-tile figure > div:not(:first-child) {
      margin-top: 5px; }
  .dagr-category md-grid-tile p md-icon, .dagr-category md-grid-tile p strong {
    color: #af8778; }

.media-category > h3 {
  color: #448AFF; }

.media-category md-grid-tile {
  color: #448AFF;
  background-color: #91baff;
  background-color: #77aaff; }
  .media-category md-grid-tile .mini-chips > li {
    background: #448AFF; }
  .media-category md-grid-tile.add-media {
    background-color: transparent;
    box-shadow: none;
    border: 5px dashed #91baff;
    transition: all .3s;
    padding-top: calc(((20% - 0.5em) * 1) - 10px) !important; }
    .media-category md-grid-tile.add-media h3 {
      font-size: 26px;
      color: #91baff;
      text-align: center;
      transition: all .3s;
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .media-category md-grid-tile.add-media:hover {
      box-shadow: none;
      border-color: #448AFF; }
      .media-category md-grid-tile.add-media:hover h3 {
        color: #448AFF; }
  .media-category md-grid-tile .tile-content {
    height: 100%; }
  .media-category md-grid-tile .tile-thumb {
    position: relative;
    border-radius: 5px 0 0 5px;
    background-color: #b3ccf7;
    background-color: #448AFF;
    overflow: hidden; }
    .media-category md-grid-tile .tile-thumb md-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff; }
    .media-category md-grid-tile .tile-thumb img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      border-radius: 5px 0 0 5px; }
    .media-category md-grid-tile .tile-thumb .play-button {
      z-index: 2;
      width: 100%;
      padding: 52% 0;
      color: #fff;
      text-align: center;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
      transform: translate(-50%, -50%) scale(1.5); }
    .media-category md-grid-tile .tile-thumb video {
      width: 230%;
      position: absolute;
      z-index: 1;
      border-radius: 5px 0 0 5px;
      bottom: 0;
      left: -50%;
      border-radius: 5px 0 0 5px; }
    .media-category md-grid-tile .tile-thumb iframe {
      border: none;
      transform: scale(0.1);
      transform-origin: top left;
      width: 1000%;
      height: 3000px;
      position: relative;
      z-index: 1;
      background: #fff; }
      .media-category md-grid-tile .tile-thumb iframe.full-width {
        width: 100%;
        height: 100%;
        transform: none; }
      .media-category md-grid-tile .tile-thumb iframe.half-width {
        width: 400%;
        height: 2000px;
        transform: scale(0.25); }
  .media-category md-grid-tile .tile-info {
    padding: 10px;
    position: relative; }
    .media-category md-grid-tile .tile-info div[layout=column] {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      top: 30px; }
    .media-category md-grid-tile .tile-info p {
      margin: 3px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

md-content {
  padding: 0 15px; }
